@font-face {
  font-family: "iconfont"; /* Project id 2920661 */
  src: url('iconfont.woff2?t=1647664319022') format('woff2'),
       url('iconfont.woff?t=1647664319022') format('woff'),
       url('iconfont.ttf?t=1647664319022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing1:before {
  content: "\e6d1";
}

.icon-yanjing2:before {
  content: "\e6e2";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-gou:before {
  content: "\e686";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-shejiaotubiao-06:before {
  content: "\e642";
}

