body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bgi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b8e5f8;
}

a {
    text-decoration: none;
}

p {
    margin: 4px;
    padding: 0;
}

.title {
    text-align: center;
}

.title img {
    width: 128px;
    height: 81px;
    margin-top: 40px;
}

.bigbox1 {
    margin: 30px auto 0;
    width: 352px;
    height: 291px;
    padding: 0 24px 84px 24px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
}

.bigbox1 .box1 {
    width: 100%;
    height: 60px;
    position: relative;
}

.bigbox .box1 .box1_left {
    position: absolute;
    left: -40px;
    width: 250px;
}

.bigbox1 .box1 img {
    height: 60px;
    width: 66px;
    position: absolute;
    right: -24px;
}

.bigbox .box1 .box1_left button {
    background: #fff;
    border-width: 0 0 5px 0;
    border-color: #fff;
    border-style: solid;
    height: 60px;
    font-size: 16px;
}

.bigbox .box1 .box1_left .box1_button1 {
    border-color: #0066FF;
    font-weight: 700;
}

.bigbox1 .box2 {
    margin-top: 25px;
    position: relative;
}

.bigbox1 .box2 .input {
    width: 100%;
    height: 48px;
    font-size: 15.5px;
    margin-top: 5px;
    border-width: 0 0 2px 0;
    border-color: #EBEBEB;
    outline: none;
}


/* placeholder变红 */

.bigbox1 .box2 .have_ph::-webkit-input-placeholder {
    color: red;
}

.bigbox1 .box2 .have_ph::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: red;
}

.bigbox1 .box2 .have_ph:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: red;
}

.bigbox1 .box2 .have_ph:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.bigbox1 .box2 a {
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 20px;
}

.bigbox1 .box3 {
    position: relative;
    margin-top: 12px;
    width: 100%;
    height: 30px;
}

.bigbox1 .box3 .box3_left {
    position: absolute;
    left: 0;
    color: #175199;
}

.bigbox1 .box3 .box3_right {
    position: absolute;
    right: 0;
}

.bigbox1 .box3 .box3_right a {
    color: gray;
}

.bigbox1 .box4 button {
    width: 100%;
    height: 34px;
    margin-top: 25px;
    border: 0;
    background: #0066FF;
    color: #fff;
    font-size: 15.5px;
    border-radius: 3px;
}

.bigbox1 .box4 button:hover {
    background: #005CE6;
}

.bigbox1 .box5 {
    width: 100%;
    height: 33.6px;
    margin-top: 35px;
    padding-bottom: 10px;
    font-size: 13px;
    color: grey;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #EBEBEB;
}

.bigbox1 .box5 a {
    color: grey;
}

.bigbox2 {
    width: 352px;
    height: 60px;
    padding: 0 24px;
    background-color: #fff;
    margin: 0 auto;
    line-height: 60px;
    color: gray;
}

.bigbox2 .box8 {
    float: left;
}

.bigbox2 .box9 a {
    float: right;
    display: block;
    color: gray;
    text-indent: 1em;
}

.bigbox3 {
    width: 352px;
    height: 60px;
    padding: 0 24px;
    background-color: #F6F6F6;
    margin: 0 auto;
    line-height: 60px;
}

.bigbox3 .box6 {
    float: left;
}

.bigbox3 .box7 {
    float: right;
}

.bigbox3 .box7 em {
    font-size: 20px;
    font-style: normal;
}

.bigbox3 a {
    color: #0066FF;
}


/* 去掉input的number的上下箭头 */


/*谷歌*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/*火狐*/

input[type="number"] {
    -moz-appearance: textfield;
}


/* QRCode页面 */

.bigbox1 .QRCode_title {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 35px;
    line-height: 33px;
    font-weight: 500;
    font-size: 26px;
    color: #121212;
    text-align: center;
}

.QRCode_img_QR {
    width: 150px;
    height: 150px;
    margin: 0 100px 20px;
}